<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Showcase - Dashboard</title>
    <link rel="stylesheet" href="../css/master.css" type="text/css" />
    <script
      src="https://kit.fontawesome.com/2580541a59.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="module" src="/js/data.js"></script>
  </head>

  <body>
    <aside class="bg-blue">
      <section class="cl1">
        <img
          src="../assets/images/logo.png"
          lt="final show logo"
          class="logo"
        />
      </section>
      <nav>
        <ul class="sidenav">
          <li class="home active">
            <a href="/dashboard-docent"
              ><i class="fas fa-th-large"></i> Dashboard</a
            >
          </li>
          <li class="winners">
            <a href=""><i class="fas fa-trophy"></i> Winners</a>
          </li>
          <li class="nominations">
            <a href=""><i class="fas fa-award"></i> Nominations</a>
          </li>
          <li class="link-projects">
            <a href="#projects"><i class="fas fa-columns"></i> Projects</a>
          </li>
          <li class="link-voted">
            <a href="#voted"><i class="fas fa-poll-h"></i> My Votes</a>
          </li>
          <li class="link-favorites">
            <a href="#favorites"><i class="far fa-heart"></i> favorites</a>
          </li>
          <li class="bg-pink">
            <a href="/logout"><i class="fas fa-sign-out-alt"></i> sign-out</a>
          </li>
        </ul>
      </nav>
    </aside>

    <main>
      <header class="cl1">
        <nav>
          <ul class="topnav">
            <li>
              <h3 class="title">Dashboard</h3>
            </li>
            <li>
              <div class="search box-shadow">
                <i class="fas fa-search"></i>
                <input type="search" name="" id="search" placeholder="Search" />
              </div>
            </li>
            <li>
              <i class="fas fa-cog fa-lg"></i>
              <i class="fas fa-bell fa-lg"></i>
              <i>
                <span class="fas fa-user-circle dark-blue fa-lg"></span>
                <p><%= username %></p>
              </i>
            </li>
          </ul>
        </nav>
      </header>

      <figure class="banner">
        <div class="slider-wrap">
          <section class="slider"></section>
        </div>
      </figure>

      <div class="votes" id="votes">
        <article class="bg-pink">
          <h3>All votes</h3>
          <section class="vote-wrap cl1">
            <figure class="vote-slider cl1">
              <div class="project-item" data-projectid="">
                <figure class="project-img"></figure>
                <article class="project-info">
                  <p class="bold project-name">User project</p>
                  <p class="project-user-name">user</p>
                </article>
                <div class="vote-count"></div>
              </div>
            </figure>
          </section>
        </article>
      </div>

      <div class="cl1 top-projects" id="projects">
        <section class="wrap box-shadow">
          <article class="cl1">
            <h3 class="item-name">Projects</h3>
            <div class="option">
              <i class="fas fa-sync-alt"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </article>

          <section class="cl1 filter">
            <div class="dropdown">
              <button class="btn btn-inverse dropbtn blue">
                Filter <i class="fas fa-sort-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="?order=asc">Aflopend</a>
                <a href="?order=desc">Oplopend</a>
              </div>
            </div>
            <div class="dropdown">
              <button class="btn btn-inverse dropbtn blue">
                Cluster <i class="fas fa-sort-down"></i>
              </button>
              <div class="dropdown-content">
                <a href="?cluster=web">Web</a>
                <a href="?cluster=mobile">Mobile Appliance</a>
                <a href="?cluster=motion">Interactive Motion</a>
                <a href="?cluster=ar">Alternate Reality</a>
                <a href="?cluster=digital-making">Digital Making</a>
              </div>
            </div>
          </section>

          <div class="cl1 table">
            <div class="table-head-tr">
              <article class="table-td">
                <p class="bold">Project image</p>
              </article>
              <article class="table-td">
                <p class="bold">Project name</p>
              </article>
              <article class="table-td">
                <p class="bold">Student</p>
              </article>
              <article class="table-td">
                <p class="bold">Cluster</p>
              </article>
              <article class="table-td"></article>
            </div>
            <div class="cl1 table-content"></div>
          </div>
        </section>
      </div>

      <div class="cl1 all-voted" id="voted">
        <section class="cl1 wrap box-shadow">
          <article class="cl1">
            <h3 class="item-name">My Votes</h3>
            <div class="option">
              <i class="fas fa-sync-alt"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </article>

          <div class="cl1 table">
            <div class="table-head-tr">
              <article class="table-td">
                <p class="bold">Project image</p>
              </article>
              <article class="table-td">
                <p class="bold">Project name</p>
              </article>
              <article class="table-td">
                <p class="bold">Student</p>
              </article>
              <article class="table-td">
                <p class="bold">Cluster</p>
              </article>
              <article class="table-td"></article>
            </div>
            <div class="cl1 table-content"></div>
          </div>
        </section>
      </div>

      <div class="cl1 all-favorites" id="favorites">
        <section class="cl1 wrap box-shadow">
          <article class="cl1">
            <h3 class="item-name">My Favorites</h3>
            <div class="option">
              <i class="fas fa-sync-alt"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </article>

          <div class="cl1 table">
            <div class="table-head-tr">
              <article class="table-td">
                <p class="bold">Project image</p>
              </article>
              <article class="table-td">
                <p class="bold">Project name</p>
              </article>
              <article class="table-td">
                <p class="bold">Student</p>
              </article>
              <article class="table-td">
                <p class="bold">Cluster</p>
              </article>
              <article class="table-td"></article>
            </div>
            <div class="cl1 table-content"></div>
          </div>
        </section>
      </div>
    </main>

    <div id="nomination" class="message-wrap">
      <div class="nomination-content box box-shadow">
        <h3 class="blue">Nominations</h3>
        <p>Nominate your top 3 projects</p>
        <ul class="nomination-system-text">
          <li>
            Top 1 will receive <span class="bold red">5 extra</span> votes.
          </li>
          <li>
            Top 2 will receive <span class="bold red">3 extra</span> votes.
          </li>
          <li>
            Top 3 will receive <span class="bold red">1 extra</span> votes.
          </li>
        </ul>
        <section class="nomination-list"></section>
        <section class="nomination-postion">
          <section class="picks">
            <p class="blue bold">Top 1 (+5 votes)</p>
            <p id="pos1" class="grey-out">Click nominate to add a nomination</p>
          </section>

          <section class="picks">
            <p class="blue bold">Top 2 (+3 votes)</p>
            <p id="pos2" class="grey-out">Click nominate to add a nomination</p>
          </section>

          <section class="picks">
            <p class="blue bold">Top 3 (+1 votes)</p>
            <p id="pos3" class="grey-out">Click nominate to add a nomination</p>
          </section>
        </section>
        <article class="cl1">
          <button class="btn btn-inverse cancel">Close</button>
        </article>
      </div>
    </div>
  </body>
</html>
