<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Showcase - Dashboard</title>
  <link rel="stylesheet" href="../css/master.css" type="text/css">
  <script src="https://kit.fontawesome.com/2580541a59.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="module" src="/js/project.js"></script>
</head>

<body class="project">
    <h3>Upload project</h3>
    <section>
      <input type="text" name="projectname" placeholder="project name" class="input-user" required>
    </section>
    <section>
      <input type="text" name="description" placeholder="description" maxlength="50" class="input-user"
        required>
    </section>
    <section>
      <input type="text" name="url" placeholder="project URL" class="input-user" required>
    </section>
    <section class="dropzone">
      <div class="dropzone-content">
        <i class="fas fa-upload fa-lg"></i>
        <p>Choose an image file or drag it here.</p>
      </div>
      <input type="file" accept="image/png, image/jpeg" name="image" class="input-user" required>
    </section>
    <section>
      <select name="cluster" class="input-user" required>
        <option value="web">Web</option>
        <option value="mobile">Mobile Appliance</option>
        <option value="motion">Interactive Motion</option>
        <option value="ar">Alternate Reality</option>
        <option value="digital-making">Digital Making</option>
      </select>
    </section>
    <section>
      <input class="btn bg-blue white" type="submit" value="Upload">
    </section>
  </form>
</body>


</html>
