<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Showcase - Dashboard</title>
  <link rel="stylesheet" href="../css/master.css" type="text/css">
  <script src="https://kit.fontawesome.com/2580541a59.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="module" src="/js/auth.js"></script>
</head>

<body>
  <form class="box box-shadow cl2 pink register-form" method="POST">
    <h3>Register</h3>
    <section>
      <input type="text" name="username" placeholder="username" class="input-user" required>
    </section>
    <section>
      <input type="email" name="email" placeholder="email" class="input-user" required>
    </section>
    <section>
      <input type="password" name="password" placeholder="password" class="input-user" required>
    </section>
    <section>
      <input type="password" name="password2" placeholder="confirm-password" class="input-user" required>
    </section>
    <section>
      <input class="btn bg-blue white" type="submit" value="register">
    </section>
  </form>
</body>


</html>